{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react", "prettier/standard"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "globals": {
    "mount": true,
    "shallow": true,
    "render": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "import/no-unresolved": "warn",
    "react/jsx-filename-extension": 0
  }
}
