$rrs-color: #007bff !default;
$rrs-handle-space: 6px !default;
$rrs-handle-border: 2px solid #000 !default;
$rrs-handle-border-radius: 4px !default;
$rrs-handle-color: #fff !default;
$rrs-handle-size: 10px !default;
$rrs-handle-size-xy: 20px !default;
$rrs-height: 20px !default;
$rrs-padding: 6px !default;
$rrs-track-color: #ccc !default;
$rrs-width: 20px !default;

.rrs-slider {
  box-sizing: border-box;
  display: inline-block;
  padding: $rrs-padding;
}

.rrs-track {
  background-color: $rrs-track-color;
  border-radius: 3px;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
}

.rrs-range {
  background-color: $rrs-color;
  border-radius: 3px;
  position: absolute;
}

.rrs-handle {
  box-sizing: border-box;
  height: $rrs-height;
  position: absolute;
  width: $rrs-width;

  &:after {
    background-color: $rrs-handle-color;
    border: $rrs-handle-border;
    border-radius: $rrs-handle-border-radius;
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
  }
}

.rrs-slider-x {
  height: $rrs-height + ($rrs-padding * 2);
  width: 100%;

  .rrs-track {
    height: $rrs-height;
  }

  .rrs-handle {
    &:after {
      height: $rrs-height + $rrs-handle-space;
      left: -($rrs-handle-size / 2);
      top: -($rrs-handle-space / 2);
      width: $rrs-handle-size;
    }
  }

  .rrs-range {
    top: 0;
    height: 100%;
  }
}

.rrs-slider-y {
  height: 100%;
  width: $rrs-width + ($rrs-padding * 2);

  .rrs-track {
    height: 100%;
    min-height: 50px;
    width: $rrs-width;
  }

  .rrs-handle {
    &:after {
      bottom: -($rrs-handle-size / 2);
      height: $rrs-handle-size;
      left: -($rrs-handle-space / 2);
      width: $rrs-width + $rrs-handle-space;
    }
  }

  .rrs-range {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.rrs-slider-xy {
  height: 100%;
  width: 100%;

  .rrs-track {
    min-height: 50px;
    height: 100%;
    width: 100%;
  }

  .rrs-range {
    bottom: 0;
  }

  .rrs-handle {
    &:after {
      background-color: transparent;
      border: $rrs-handle-border;
      border-radius: 50%;
      bottom: -($rrs-handle-size-xy / 2);
      height: $rrs-handle-size-xy;
      left: -($rrs-handle-size-xy / 2);
      position: absolute;
      width: $rrs-handle-size-xy;
    }
  }
}
